[submodule "2D-Orientation-v2"]
	path = 2D-Orientation-v2
	url = https://github.com/WildbookOrg/wbia-tpl-2d-orientation
[submodule "wbia_2d_orientation"]
	path = wbia_2d_orientation
	url = https://github.com/WildbookOrg/wbia-tpl-2d-orientation
